<div id='edit-product'>
  <div class='edit-product-page-heading'>
    <h1 class='heading'>Update Your Product</h1>
  </div>
  <div class='product-title'>
    <%= render partial: 'form'%>
  </div>
</div>